@{
    ViewData["Title"] = "Home Page";
}

<h1 class="Title-Home">Welcome to RPS Academy,</h1>
<p></p>
<p class="Subtext1"> The game that makes learning fun and engaging! In this game, you'll play rock-paper-scissors against different opponents while learning new coding concepts along the way. Whether you're an experienced coder or a a recent beginner, RPS Academy has something for everyone. With each round, you'll not only improve your rock-paper-scissors skills but also expand your knowledge in various subject areas. So put your game face on and get ready to learn, compete, and have fun!</a></p>
<div class="instructions">
    <p class="instruction-title">INSTRUCTIONS:</p>
    <div class="instruction-container">
        <p>Step 1) Set up the game: Select an opponent and decide the number of points needed to win the game.</p>
        <p>Step 2) Choose either rock, paper, or scissors by selecting the corresponding hand gesture. Remember that rock beats scissors, scissors beats paper, and paper beats rock. The player whose choice beats the other's choice wins the round and earns a point. In case of a tie, no points are awarded.</p>
        <p>Step 3) The winner of the round is given a question. If they answer the question correctly, they earn an additional point. If they answer incorrectly, their opponent has a chance to answer the same question and earn a point.</p>
        <p>Step 4) The game continues with players playing rounds and answering questions for extra points until one player reaches the predetermined number of points needed to win the game.</p>
        <p>Step 5) Remember to have fun while playing the game and enjoy the challenge of answering questions to earn extra points!</p>
    </div>
</div>
